.datetime {
    color: #ffffff !important;
    font-size: 25px !important;
    font-weight: bold !important;
}

.dateday {
    color: #ffffff !important;
    font-size: 10px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    display: block !important;
    vertical-align: center !important;
    padding-right: 5px !important;
    text-align: right !important;
}

.ui-autocomplete li:hover{
    color: #fff !important;
    background: #17a2b8 !important;
    border-radius: 3px;
    margin: 4px;
    padding: 10px;
    font-weight: bold;
}

.table {
	width: 100%;
}

.btn-gold {
	background-color: #F7941E;
	color: #fff;
}

.callout {
	margin-bottom: 0.6rem !important;
	padding: 0.6rem !important;
}
.callout.callout-indigo {
	border-left-color: #6610f2;
}

.vacio {
	border: 2px dotted #ffc107;
	border-radius: 0.25rem;
	padding: 1rem;
}

.btn-blue {
	background-color: #1D1953;
	color: #fff !important;
}
